.box{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}

.row{
    display: flex;
    flex-direction: row;
}

.box.X{
    background-image: url("x.png");
}

.box.O{
    background-image: url("o.png");
}

img:not(.active){
    display: none;
}
